@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,500;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat Alternates", sans-serif;
}
